* {
  margin: 0;
  padding: 0;
  font-family: 'main';
  color: white;
  overflow: hidden;
}
@font-face{
    font-family: 'big';
    src: url(../Backslash-RpJol.otf);
}
@font-face{
font-family: 'main';
src: url(../Alegreya-Bold.ttf);
}
section{
  display: inline-block;
}
.container {
  padding: 0 100px;
}

p{
  font-size: 2vw;
}
h1{
  font-size: 6vw;
  text-shadow:  1px 3px 5px purple;
}
h2{
  font-size: 3vw;
  text-shadow:  1px 3px 5px purple;
}
nav {
   position: fixed;
   z-index: 2;
  display: flex;
 
    ul {
    display: flex;
  }
  li {
    list-style: none;
  }
  a {
    font-family: 'big';
    font-weight: 500;
    font-size: 20px;
    margin: 0 15px;
    text-decoration: none;
   
    background: linear-gradient(
      75deg,
      white,
      rgb(250, 222, 187),
      rgb(245, 170, 78)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  a:hover{
    text-shadow: 1px 1px 1px  purple;
  }
  .logo {
   text-shadow:  1px 3px 5px purple;
    font-size: 20px;
    margin-right: 52vw;
  }
.nav-right{
  display: flex;
}
  .dropdown-menu{
      display: none;
  }
  .bar1,
  .bar2,
  .bar3 {
    display: block;
    height: 2px;
    margin: 3px 0 3px 13px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: white;
    justify-content: left;
  }
  .bar1 {
    width: 15px;
  }
  .bar2 {
    width: 20px;
  }
  .bar3 {
    width: 25px;
  }
  .hamburger{
      cursor: pointer;
  }
  .hamburger:hover {
    .bar1,
    .bar2 {
      width: 25px;
    }
  }
}

.panes {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px 15vw;
  img {
    
  filter: drop-shadow(3px 3px 5px purple);
  
  }
  .pane {
    margin: 100px 0 0 100px;
  }
  header {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .w {
      color: white;
    }
    .b {
      color: burlywood;
      
    }
  }


  .hire {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid rgb(245, 170, 78);
    margin-top: 20px;
    a{
      text-decoration: none;
    }
  }
  .hire:hover{
    box-shadow: 2px 2px 3px purple;
  }
}

#about{
  h1{
    text-align: center;
  }
}

#portfolio{
   .container{
   display: flex;
   flex-wrap: wrap;
 }
 .site{
   width: 40vw;
   margin: 20px 20px 20px 0;
 }
 
}

.contact{
  display: flex;
  margin-top: 20px;
 .contact-icon{
   img{
     width: 50%;
   }
 }
}


@media screen and (max-width: 800px) {
  .container {padding: 20px;}
  
  p{font-size: 3vw;}
   .panes {
    margin-top: 20px;
       padding: 0 50px;
    img {
      margin: 0;
    }
    
  }
  .nav-menu {
    display: none;
  }
  .hamburger{margin-left: 20vw;}
  .hamburger:hover{
      .dropdown-menu{
      display: block;
      position: absolute;
      z-index: 1;
      background-color: rgb(2, 1, 0);
      right: 10px;
      padding: 20px 5px 0 5px;
       -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
      .nav-item{padding: 10px 10px 0 10px;}
      
  }
  }
    
}

@media screen and (max-device-width: 400px){
   .hamburger{margin-left: 0;}
  .panes{padding: 0 ;
    div{padding: 0; margin: 0;}
  .pane{margin-left: 1vw;}
img{width: 60%; }}
}