* {
  margin: 0;
  padding: 0;
  font-family: "main";
  color: white;
  overflow: hidden;
  }

@font-face {
  font-family: "big";
  src: url(../Backslash-RpJol.otf);
}

@font-face {
  font-family: "main";
  src: url(../Alegreya-Bold.ttf);
}

section {
  display: inline-block;
}

.container {
  padding: 20px 2vw 20px 6vw;
}

p {
  font-size: 2vw;
}

h1 {
  font-size: 6vw;
  text-shadow: 1px 3px 5px purple;
}

h2 {
  font-size: 3vw;
  text-shadow: 1px 3px 5px purple;
}

nav {
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  list-style: none;
}

nav li .container {
  padding: 0 100px;
}

nav a {
  font-family: "big";
  font-weight: 500;
  font-size: 15px;
  margin: 0 15px;
  text-decoration: none;
  background: linear-gradient(75deg, white, #fadebb, #f5aa4e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

nav a:hover {
  text-shadow: 0.1px 0.1px 1px purple;
}

nav .logo {
  text-shadow: 1px 3px 5px purple;
  font-size: 20px;
}

nav .nav-menu,
nav .dropdown-menu {
  display: none;
}

nav .bar1,
nav .bar2,
nav .bar3 {
  display: block;
  height: 2px;
  margin: 3px 0 3px 13px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: white;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

nav .bar1 {
  width: 15px;
}

nav .bar2 {
  width: 20px;
}

nav .bar3 {
  width: 25px;
}

nav .hamburger {
  cursor: pointer;
  position: fixed;
  right: 10vw;
}

nav .hamburger:hover .bar1,
nav .hamburger:hover .bar2 {
  width: 25px;
}

nav .hamburger:hover .dropdown-menu {
  display: block;
  position: fixed;
  z-index: 1;
  background-color: #020100;
  right: 10vw;
  padding: 20px 5px 0 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .hamburger:hover .dropdown-menu .nav-item {
  padding: 10px 10px 0 10px;
}

.panes {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.panes img {
  -webkit-filter: drop-shadow(3px 3px 5px purple);
          filter: drop-shadow(3px 3px 5px purple);
  width: 100%;
}

.panes .pane-image {
  width: 45%;
}

.panes .pane {
  margin: 8vh 0 0 5vw;
}

.panes header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.panes header .w {
  color: white;
}

.panes header .b {
  color: burlywood;
}

.panes .hire {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #f5aa4e;
  margin-top: 20px;
}

.panes .hire a {
  text-decoration: none;
}

.panes .hire:hover {
  -webkit-box-shadow: 2px 2px 3px purple;
          box-shadow: 2px 2px 3px purple;
}


#about h1 {
  text-align: center;
}

#portfolio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#portfolio .site {
  width: 40rem;
  margin: 20px 20px 20px 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.contact img {
  width: 10%;
  margin-right: 20px;
}

@media screen and (min-width: 400px) {
  .panes img {
    width: auto;
  }
  .panes .pane-image {
    width: 50%;
  }
  .panes .pane {
    margin: 20vh 0 0 8vw;
  }
  p {
    font-size: 3vw;
  }
  h1 {
    font-size: 6vw;
    text-shadow: 1px 3px 5px purple;
  }
  h2 {
    font-size: 4vw;
    text-shadow: 1px 3px 5px purple;
  }
}
/*# sourceMappingURL=style.css.map */
